.App {
  text-align: center;
}

.Briefly-header{
  font-size: 70px;
  color: #6700A6;
  margin-top: 60px;
  margin-bottom: 5px;
}

.Body-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
}

.About-section{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  border: 1px solid gray;
  border-radius: 30px;
}

.about-header{
  margin-bottom: 0;
  font-size: 35px;
}

.Headlines-section{
  margin-top: 60px;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid gray;
  border-radius: 30px;
}

.headline{
  padding-bottom: 20px;
}

.headlines-header{
  font-size: 35px;
}

.headline-title{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.headline-abstract{
  padding-left: 100px;
  padding-right: 100px;
}

.email-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 35%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
  padding-bottom: 80px;
  padding-top: 60px;
  border-radius: 20px;
  color: #9A33CC;
}

.sign-up{
  font-size: 30px;
}

.email-input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.subscribe-button{
  width: 314px;
  height: 30px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 8px;
}

.subscribe-button:hover{
  background-color: #bc79dd;
  color: white;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s;
}

.subscribe-button:active{
  background-color: #9A33CC;
}
